@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", "serif";

  --width-20: 20%;
}

@layer base {
  body {
    @apply font-poppins bg-[#121212] text-white;
  }

  a {
    @apply text-white no-underline;
  }

  .active {
    @apply font-bold;
  }

  form {
    @apply flex flex-col;
  }

  label {
    @apply flex flex-col text-left;
  }

  label span {
    @apply font-bold mb-2 text-[#aaa] text-xs;
  }

  input {
    @apply bg-[#3b3b3b] text-[#aaa] border rounded-xs border-[#555]  outline-none mb-2;
  }

  input::placeholder {
    @apply text-[#aaa];
  }

  .btn,
  button,
  input[type="submit"] {
    @apply bg-[#0094f6] text-white border-none rounded-xs pl-2.5 pr-2 font-bold cursor-pointer opacity-80 text-base;
  }

  input [type="submit"] {
    @apply mt-[1em];
  }

  input:disabled {
    @apply cursor-not-allowed bg-black;
  }

  button:hover,
  input[type="submit"]:hover {
    @apply opacity-100;
  }

  .cancel-btn {
    @apply bg-[#CCC];
  }

  .hide {
    @apply hidden;
  }
}
